
.EditForm {
    background: #795757;
    padding: 1vh;
    width: 96vw;
    margin-right: 2vw;
    margin-top: 2vw;
    color: white;
}

.ColorsHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 1vh 0;
}

.ColorsHolder div{
    width: 3vh;
    height: 3vh;
    flex-shrink: 0;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.2s;
}

.ColorsHolder div[data-selected="true"]{
    border: 2px white solid;
    transform: scale(1.4);
}