.Footer {
    height: 9vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.Footer .Item {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    width: 9vh;
    height: 8vh;
    transition: 0.2s;
}

.Footer .Item svg {
    font-size: 1.5rem;
}

.Footer .Item[data-active=true] {
    border-bottom: 1vh #795757 solid;
    background: linear-gradient(to top, rgba(121, 87, 87, 0.18), white 20%);
    font-weight: bold;
}


