.HeaderUserInfo {
    padding: 1vh 1vh;
    background: white;
    box-shadow: 0px 2px 5px rgba(102, 67, 67, 0.27);
    align-items: center;
    justify-content: center;
    position: relative;
}
.HeaderUserInfo img{
    height: 5vh;
}
.HeaderUserInfo p {
    line-height: 0.9rem;
}

.OnlineInfo{
    position: absolute;
    bottom: 0;
    right:1vh ;
    width: calc(100% - 2vh);
    text-align: center;
    transform: translateY(100%);
    background: #795757;
    padding: 0.5vh;
    color: white;
    border-radius: 0 0 0.5vh 0.5vh;
}